.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  height: 77px;
  color: #fff;
  background-color: #f7eeda;
  background-color: #9ba9a3;
  background-color: #180203;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.nav a {
  color: #fff;
  font-weight: 500;
}

@media (max-width: 600px) {
  .header {
    padding: 20px 24px;
  }
}
